/* @import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic); */
.root {
  /* border: 1px solid black; */
  width: 950px;
  margin: auto;
}

.filterBox {
  display: flex;
}

.fItem {
  border: 1px solid black;
  padding: 8px 15px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  /* min-width: 50px; */
  text-align: center;
  cursor: pointer;
}

.fItem:hover {
  /* border: 0px; */
  color: #ffffff;
  background-color: #413f3f;
}


.contend {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* .pBox:first-child {
  align-self: stretch;
} */

.pBox {
  width: calc(33.33% - 10px);
  display: block;
}

.pBox__itme {
  width: 100%;  
}